{%extends 'userinfo/base.html'%}
    {% block body_block %}
        <!--<form method="POST">-->
            <!--{% csrf_token %}-->
            <!--<div class="form-group label_input">-->
                <!--<label for="contact">Otp Verification : </label>-->
                <!--<input type="text" class="form-control" name="contact" placeholder="Enter your Mobile Number ">-->
            <!--</div>-->
            <!--<div class="form-group text-center">-->
                <!--<input type="submit" value="Submit" class="btn btn-danger1">-->
            <!--</div>-->
            <!--<div class="cleafix"></div>-->
            <!--<br>-->
        <!--</form>-->


        <div class="wrapper">
             <div class="">
                 <div class="modal_login" id="Login" role="dialog">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header text-center login_msg_conform">
                                 <img src="/static/img/billseye/Billseye_icon.png">
                             </div>
                             <div class="modal-body text-center login_msg_conform">

                                  <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group label_input">
                                            <label for="OTP" class="otp_verification">Enter Your Mobile Number </label>
                                            <div>
                                                <input type="text" class="contactinput" name="contact" placeholder="9999999999">
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="submit" value="Submit" class="btn btn-danger1">
                                        </div>
                                        <div class="cleafix"></div>
                                        <br>
                                    </form>
                                 <!--<h3>Lorem Ipsum Lorem Ipsum Lorem Ipsum</h3> -->
                                 <!--<br> -->
                                 <!--<button class="btn btn-danger1">OK</button>-->
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    {% endblock %}
